<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="ambab" sortOrder="999" translate="label">
			<label>ambab</label>
		</tab>
		<section id="prefix_section" showInStore="1" sortOrder="10" translate="label">
			<label>Store Order Prefix</label>
			<tab>ambab</tab>
			<resource>Ambab_StoreOrderPrefix::config_ambab_storeorderprefix</resource>
			<group id="general" showInStore="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="enable" translate="label" type="select" sortOrder="1" showInStore="1" canRestore="1">
        			<label>Enabled</label>
        			<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
    			</field>
				<field id="order_prefix" showInStore="1" sortOrder="2" translate="label" type="text">
					<label>Order Prefix</label>
					<depends> 
						<field id="enable">1</field> 
					</depends>
					<validate>validate-length maximum-length-32</validate>
				</field>
				<field id="override" translate="label" type="select" sortOrder="3" showInStore="1" canRestore="1">
        			<label>Override Store Prefix</label>
        			<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        			<depends> 
        				<field id="enable">1</field> 
        			</depends>
        			<comment>This will override all order related prefix, Are you sure?</comment>
    			</field>
			</group>
		</section>
	</system>
</config>